/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  list-style: 1.7;
  color: rgba(119, 119, 119, 0.9);
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(124, 213, 0, 0.7),
      rgba(39, 179, 132, 0.7)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.top-header-group {
  background-color: rgba(0, 0, 0, 0.24);
  display: grid;
  padding: 40px;
}

.midle-header-group {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 35px;
}

.heading-primary {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  backface-visibility: hidden; /* Para evitar comportamento estranho das animações */
}

.heading-primary-main {
  font-size: 60px;
  font-weight: 400;
  display: block;
  letter-spacing: 34px;
  animation: moveInLeft 2s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.heading-primary-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
  display: block;
  animation: moveInRight 2s cubic-bezier(0.2, 0.82, 0.2, 1);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
